{% load static %}
<div id="js">
    <!-- Vendor JS Files -->
    <script src="{% static 'webapp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'webapp/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'webapp/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'webapp/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'webapp/assets/vendor/php-email-form/validate.js' %}"></script>


    <!-- Template Main JS File -->
    <script src="{% static 'webapp/assets/js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/49d0ed2e0e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- 배터리 색상 -->
    <script src="{% static 'webapp/assets/js/battery_color.js' %}">    </script>
    <script src="{% static 'webapp/assets/js/pagination.js' %}">    </script>
    <script src="{% static 'webapp/assets/js/kr_runtime.js' %}">    </script>
    <script src="{% static 'webapp/assets/js/padding_date.js' %}">    </script>
</div>