<!-- Logout modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Log Out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="logoutmodalbody">
                <div class="logout_temp"></div>
                <div id="logout_tdiv"><h3 id="logout_text">로그아웃 되었습니다.</h3></div>
            </div>
            <div class="modal-footer">
                <form action="{% url 'webapp:logout' %}" method="post" class="col-md-4 logout_button">
                    {% csrf_token %}
                    <input type="submit" value="확인">
                </form>
            </div>
        </div>
    </div>
</div>