{% load static %}
<!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Team <span>박수쳐조</span></h3>
          <p>저희 팀원들을 소개합니다.</p>
        </div>

        <div class="row" id="teamOne">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch team_center">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'webapp/assets/img/team/sim1.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>

                </div>
              </div>
              <div class="member-info">
                <h4>고세환</h4>
                <span>웹페이지, 웹서버</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch team_center">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'webapp/assets/img/team/sim2.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>김연우</h4>
                <span>웹페이지, 모니터링</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch team_center">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'webapp/assets/img/team/sim3.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>문태규</h4>
                <span>웹페이지, 웹서버</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="teamTwo">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch team_center">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'webapp/assets/img/team/sim4.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>박한성</h4>
                <span>웹페이지, 배포</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch team_center">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'webapp/assets/img/team/sim5.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>조영민</h4>
                <span>웹페이지, 배포</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    <br>
<br>
<br>
<br>
<br>
<br>
